@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@font-face {
  font-family: "TommySoft";
  src: url("../font/MADE Tommy Soft Bold PERSONAL USE.otf");
}

html {
  font-family: "TommySoft";
  background-color: #f4dddd;
}

body {
  background-color: #f4dddd;
}

.color-change {
  background-color: #f4dddd;
  animation: button-color-change 3s infinite alternate;
}

@keyframes button-color-change {
  from {
    background-color: #f4dddd;
  }
  to {
    background-color: #f5c5c5;
  }
}
